<nav>
    <div class="side-title">
        <a href="/">Pollen Count Checker</a>
        <p>Current Pollen Count</p>
    </div>
    <ul>
        <li><a href="/">Current Count</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>