<!DOCTYPE html>
<html lang="en">

<!--including the partials in the file - templating head-->
<%- include("../partials/head.ejs")%>

    <body>
        <h1>404</h1>
        <p>Page doesn't exist!</p>

        <!--including the partials in the file - templating footer-->
        <%- include("../partials/footer.ejs")%>
    </body>