<!DOCTYPE html>
<html lang="en">

<!--including the partials in the file - templating head-->
<%- include("../partials/head.ejs")%>

    <body>
        <!--including the partials in the file - templating nav-->
        <%- include("../partials/nav.ejs")%>
            <h1>About the page</h1>
            <p>This is the description of the checker and how it works</p>

            <!--including the partials in the file - templating footer-->
            <%- include("../partials/footer.ejs")%>
    </body>