<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Get up-to-date information on pollen counts and forecasts for your area. Learn how to manage your allergies and reduce your exposure to pollen.">
    <meta name="author" content="Anna Wrzosek">
    <link rel="stylesheet" href="styles.css" type="text/css" media="screen">

    <title>Pollen checker</title>
</head>

<body>
    <h1>Here will go a title</h1>
    <p>Here goes description of the app and how it works</p>

    <section class="inputSection">
        <label for="location">Insert location:</label>
        <input type="search" name="location" id="userInput_loc" required autofocus></input>
    </section>

    <section class="pollenInfoSection">
        <p id="pollenInfo">Here goes the received data ... eventually.</p>
    </section>

</body>
<script src="main.js" defer></script>

</html>